<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZeusBlog修改头像</title>
</head>
<body onload="PIC_OP.init()">
<div style="margin-left:30px;margin-bottom:15px"><a href="/">返回</a></div>

<div>
    <form action="" method="post" id="headForm" onsubmit="return false">
        <div>
            <img id="picHead" height="400px" width="400px" alt="头像"/>
        </div>

        <div>
            <input type="file" th:id="upFile" onchange="PIC_OP.showUpload()" name="head"/>
        </div>

        <br>

        <div>
            <input type="button" style="height: 35px; width:200px" onclick="PIC_OP.uploadPic()" value="更改头像"/>
        </div>
    </form>
</div>

<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/def/user-info.js"></script>
<script src="../static/js/def/url.js"></script>

</body>
</html>