<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Search-ZeusBlog</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../static/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../../static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../../static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="../../static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../../static/css/app.css">
</head>

<body id="blog-article-sidebar">
<!-- header start -->
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <h2 class="am-hide-sm-only">ZeusBlog Search</h2>
    </div>
</header>
<!-- header end -->
<hr>
<nav class="am-g am-g-fixed blog-fixed blog-nav">
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button"
            data-am-collapse="{target: '#blog-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="blog-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav">
            <li ><a href="/">ZeusBlog</a></li>
            <li ><a href="/">首页</a></li>
            <li class="am-active"><a href="search.html">搜索页面</a></li>
            <li onclick="PAGE.goAdmin()"><a href="javascript:void(0);">管理</a></li>
        </ul>
    </div>
</nav>

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <form class="am-form-inline" id="search-form" role="form">
        <div class="am-form-group">
            <label for="name-k">
                <select id="name-k" name="name-k" data-am-selected>
                    <option value="title" selected>标题</option>
                    <option value="content">内容</option>
                    <option value="username">用户</option>
                </select>
            </label>
        </div>

        <div class="am-form-group">
            <input type="text" id="value-v" name="value-v" style="width: 400px" class="am-form-field"
                   placeholder="输入内容">
        </div>

        <button type="button" onclick="SEARCH.doSearch()" class="am-btn am-btn-default">搜索</button>
    </form>
    <div class="am-u-sm-12">
        <br>
        <h1 class="blog-text-center">-- 搜索结果 --</h1>
        <hr>
        <div class="timeline-year" id="search-insert">

        </div>

    </div>


</div>
<!-- content end -->


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../../static/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../../static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../../static/js/amazeui.min.js"></script>
<script src="../../static/js/def/search.js"></script>
<script src="../../static/js/def/article.js"></script>
<script src="../../static/js/def/url.js"></script>
</body>
</html>