<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../static/i/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileImage" content="../static/i/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <link rel="stylesheet" href="../static/css/amazeui.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
</head>

<body id="blog" onload="USER.init()">

<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <h2 class="am-hide-sm-only">用户信息</h2>
    </div>
</header>
<hr>



<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed">
    <div class="tpl-content-wrapper">

            <div class="tpl-block ">

                <div class="am-g tpl-amazeui-form">


                    <div class="am-u-sm-12 am-u-md-9">
                        <form class="am-form am-form-horizontal" onsubmit="return false"  id="userInfoForm" method="post">
                            <div class="am-form-group">
                                <label for="real-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="user-name" name="username" placeholder="用户名 / UserName">
                                    <small>输入你的用户名，让我们看见你的优秀。</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="real-name" class="am-u-sm-3 am-form-label">姓名 / Name</label>
                                <div class="am-u-sm-9">
                                    <input type="text" id="real-name" name="realName" placeholder="姓名 / Name">
                                    <small>输入你的名字，让我们记住你。</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-email" class="am-u-sm-3 am-form-label">电子邮件 / Email</label>
                                <div class="am-u-sm-9">
                                    <input type="email" disabled id="user-email" name="email" placeholder="输入你的电子邮件 / Email">
                                    <small>邮箱你懂得...</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-phone" class="am-u-sm-3 am-form-label">电话 / Telephone</label>
                                <div class="am-u-sm-9">
                                    <input type="tel" id="user-phone" name="phone" placeholder="输入你的电话号码 / Telephone" >
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">性别 / Gender</label>
                                <div class="am-u-sm-9">
                                    <select name="gender" id="user-gender">
                                        <option value="0">男</option>
                                        <option value="1">女</option>
                                        <option value="2">保密</option>
                                    </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-birthday" class="am-u-sm-3 am-form-label">生日 / Birthday</label>
                                <div class="am-u-sm-9">
                                    <input type="date" id="user-birthday" name="birthday1" disabled>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="user-intro" class="am-u-sm-3 am-form-label">简介 / Intro</label>
                                <div class="am-u-sm-9">
                            <textarea class="" rows="5" id="user-intro" placeholder="输入个人简介" name="introduction"></textarea>
                                    <small>250字以内写出你的一生...</small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <button type="submit" id="editUser" class="am-btn am-btn-primary"
                                            onclick="USER.submitEditUser()">保存修改
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
</div>
<!-- content end -->


<footer class="blog-footer">
    <div class="blog-text-center">© 2015 AllMobilize, Inc. Licensed under MIT license. Made with love By LWXYFER</div>
</footer>


<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../static/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../static/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../static/js/amazeui.min.js"></script>
<!-- <script src="../static/js/app.js"></script> -->

<script src="../static/js/def/index.js"></script>
<script src="../static/js/def/user-info.js"></script>
<script src="../static/js/def/url.js"></script>
</body>
</html>