<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzl.dao.ArticleBlogMapper">
    <resultMap id="BaseResultMap" type="com.nzl.model.pojo.ArticleBlog">
        <id column="article_blog_id" jdbcType="BIGINT" property="articleBlogId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="blog_time" jdbcType="TIMESTAMP" property="blogTime"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="digest" jdbcType="VARCHAR" property="digest"/>
        <result column="blog_type_id" jdbcType="TINYINT" property="blogTypeId"/>
        <result column="blog_status" jdbcType="INTEGER" property="blogStatus"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>

    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.nzl.model.pojo.ArticleBlog">
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <sql id="Base_Column_List">
    article_blog_id, title, blog_time, uid, blog_type_id,blog_status, digest, gmt_modified, gmt_create
  </sql>
    <sql id="Blob_Column_List">
    content
  </sql>

    <sql id="Author_Article_List_Column_List">
    article_blog_id, title, blog_time, blog_type_id,blog_status, digest, gmt_modified
  </sql>

    <select id="getPageArticles" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from article_blog
        where blog_status = 1
        order by blog_time desc
    </select>

    <select id="getArticlesByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Author_Article_List_Column_List"/>
        from article_blog
        where uid = #{uid}
        order by blog_time desc
    </select>

</mapper>