<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzl.dao.ArticleCommentMapper">
  <resultMap id="BaseResultMap" type="com.nzl.model.pojo.ArticleComment">
    <id column="article_comment_id" jdbcType="BIGINT" property="articleCommentId" />
    <result column="comment_time" jdbcType="TIMESTAMP" property="commentTime" />
    <result column="article_blog_id" jdbcType="BIGINT" property="articleBlogId" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="gmtModified" jdbcType="TIMESTAMP" property="gmtmodified" />
    <result column="gmtCreate" jdbcType="TIMESTAMP" property="gmtcreate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.nzl.model.pojo.ArticleComment">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    article_comment_id, comment_time, article_blog_id, uid, gmtModified, gmtCreate
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByArticleId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>,
    <include refid="Blob_Column_List"/>
    from article_comment
    where article_blog_id = #{articleId}
  </select>

</mapper>