<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nzl.dao.UserTypeMapper">
  <resultMap id="BaseResultMap" type="com.nzl.model.pojo.UserType">
    <id column="user_type_id" jdbcType="INTEGER" property="userTypeId" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <sql id="Base_Column_List">
    user_type_id, uid, name, gmt_create, gmt_modified
  </sql>


</mapper>